@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

* {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

body {
    background: rgb(52, 56, 61);
}

h1 {
    color: rgb(255, 255, 255);
    margin: 20px auto 0;
    width: 200px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#wrapper {
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -75px;
}

/* === Sign in Form === */
#signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#signin::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}

#signin input:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#signin input:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#signin input[type="text"], #signin input[type="password"], #signin #btn[type="submit"] {
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
    color: rgb(52, 56, 61);
}

#signin input[type="text"], #signin input[type="password"] {
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

#signin input[type="text"]:focus, #signin input[type="password"]:focus {
    color: rgb(255, 255, 255);
}

#signin #btn[type="submit"] {
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}

#signin #btn[type="submit"]:hover {
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}

#signin p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#signin p > a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

#signin p > a:hover {
    border-bottom: 1px solid;
}

/* validation message*/
#message {
    color: rgb(255, 255, 255);
    margin: 20px auto 0;
    width: 200px;
    text-align: center;
}

#goToRegisterPage {
    background-color: rgb(52, 56, 61);
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 58%;
    left: 47%;

}

#regBott {
    margin: auto;
}

/* table style*/
#table1 {
    margin: auto;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

th {
    padding: 10px 20px;
    background: #56433D;
    color: rgb(255, 255, 255);
    border-right: 2px solid;
    font-size: 0.9em;
}

th:first-child {
    text-align: left;
}

th:last-child {
    border-right: none;
}

td {
    color: rgb(255, 255, 255);
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

td:first-child {
    border-left: 2px solid #56433D;
}

td:nth-child(2) {
    text-align: left;
}


/*Registration Page*/

#registrationWrapper {
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -200px;
}

#registrationForm {
    height: 225px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#registrationForm::before {
    display: block;
    position: absolute;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
}

#registrationForm input:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#userConfirmPassword {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#registrationForm input[type="text"], #registrationForm input[type="password"] {
    margin-bottom: 2px;
    background: rgb(28, 30, 33);
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
    color: rgb(52, 56, 61);
}

#registrationForm input[type="text"], #registrationForm input[type="password"] {
    position: relative;
    display: block;
    width: 320px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

#registrationForm input[type="text"]:focus, #registrationForm input[type="password"]:focus {
    color: rgb(255, 255, 255);
}

#registrationForm p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#registrationForm p > a {
    color: rgb(111, 119, 135);
    text-decoration: none;
}

#registrationForm p > a:hover {
    border-bottom: 1px solid;
}

#userConfirmRegistration {
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#userConfirmRegistration {
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

#userConfirmRegistration:hover {
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}

#btn {
    border-radius: 8px;
    margin-bottom: 2px;
}

#captchaImg {
    margin-top: 30px;
}

#checkbox-text {
    color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-top: -7%;
    width: 220px;
}

#userMailing1 {
    margin-top: 10px;
    margin-right: 20px;
}

#table2 {
    table-layout: fixed;
    width: 350px;
    height: 100px;
    margin: auto;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#th2 {
    background: rgb(52, 56, 61);
    color: #8e8e8e;
    border: 3px solid;
    font-size: 0.9em;
}

#logout:hover {
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}

#btn {
    border-radius: 8px;
    margin-bottom: 2px;
}

#logout[type="submit"] {
    background: rgb(28, 30, 33);
    display: block;
    position: absolute;
    height: 52px;
    color: rgb(206, 204, 204);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 45px;
    right: 205px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}

#userAvatar {
    background: rgb(28, 30, 33);
    display: block;
    width: 320px;
    height: 52px;
    color: rgb(206, 204, 204);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 7000px;
    right: 205px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 16px;
    text-indent: 0;
    padding-left: 20px;
    padding-top: 8px;
    text-align: center;
}

#avatarText {
    background-color: rgb(52, 56, 61);
    border: none;
    color: #CECCCCFF;
    position: absolute;
}

#avatarDiv {
    margin-top: 15px;
}

#userAvatar {
    border-radius: 15px;
}

#userAvatarImg {
    margin-top: -25px;
    padding-left: 200px;
}

#goToLogin {
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#goToLogin {
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding:  6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#goToLogin:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}

#startSort {
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#startSort:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}

#nextPage {
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#nextPage:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}

#previousPage {
    margin-left: 40%;
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#previousPage:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}

#numberOfItem , #nameSelect, #startPriceSelect, #endPriceSelect, #manufacturerSelect {
    margin-top: 8px;
    margin-left: 8px;
    padding: 6px 10px;
    background-color: rgb(28, 30, 33);
    border-radius: 8px;
    position: relative;
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
    color: white;
}
#numberOfItem{
    margin-left: 15%;
}
#orderSortSelect{
    font-size: 13px;
    margin-top: 20px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 7px 24px;
    background-color: rgb(28, 30, 33);
    border-radius: 8px;
    position: relative;
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
    color: white;
}

#table5{
  margin: auto;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    background: #56433D;
    color: rgb(255, 255, 255);
    border-right: 2px solid;
    font-size: 0.9em;
}

th:first-child {
    text-align: left;
}

th:last-child {
    border-right: none;
}

td {
    color: rgb(255, 255, 255);
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

td:first-child {
    border-left: 2px solid #56433D;
}

td:nth-child(2) {
    text-align: left;
}

}


#goToOrder {
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#goToOrder:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}


#table3{
  margin: auto;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    background: #56433D;
    color: rgb(255, 255, 255);
    border-right: 2px solid;
    font-size: 0.9em;
}

th:first-child {
    text-align: left;
}

th:last-child {
    border-right: none;
}

td {
    color: rgb(255, 255, 255);
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

td:first-child {
    border-left: 2px solid #56433D;
}

td:nth-child(2) {
    text-align: left;
}

#selectDelivery{
    font-size: 13px;
    margin-top: 20px;
    margin-right: -270px;
    margin-left: 400px;
    padding: 7px 24px;
    background-color: rgb(28, 30, 33);
    border-radius: 8px;
    position: relative;
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
    color: white;
}

#goToCart {
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#goToCart:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}

#createOrderBut {
    margin-top: 30px;
    background-color: rgb(28, 30, 33);
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#createOrderBut:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}
#cartNumber , #cartCCV2, #cartDateMonth, #cartDateYear{
    margin-top: 8px;
    margin-left: 8px;
    padding: 6px 10px;
    background-color: rgb(28, 30, 33);
    border-radius: 8px;
    position: relative;
    box-shadow: inset -100px -100px 0 rgb(28, 30, 33);
    color: white;
}
#cartNumber{
    margin-left: 15%;
}

#goToOrder {
    margin-top: 30px;
    position: center;
    background-color: rgb(28, 30, 33);
    margin-left: 900px;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#goToOrder:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}
#clearCart {

    position: center;
    background-color: rgb(28, 30, 33);
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#clearCart:hover {
    color: #56433D;
    text-shadow: 0 0 10px #56433D;
    cursor: pointer;
}
}